body {
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #e0a131;
}

a:hover {
    color: #ba821f;
}
/* ---------- HEADER ---------- */
.navbar-container {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

ul {
    list-style: none;
    /*display: inline-block;*/
    order: 1;
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

ul li {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.title {
    font-weight: bold;
}

.user {
    order: 2;
    width: 25%;
    margin: 0px 20px 0px 0px;
    text-align: right;
}

/* ---------- FOOTER ---------- */
.footer-container {
    height: 50px;
    background-color: white;
    text-align: center;
     position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


.footer-list {
    list-style: none;
    font-size: 13px;
    padding: 5px 0px 0px 0px;
    margin: 0px;
}

.footer-list .footer-list-item {
    padding: 0px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.footer-link {
    color: #e0a131;
}

.copyright {
    font-size: 10px;
    font-style: italic;
    margin: 5px 0px 0px 0px;
}

/* ---------- Landing Page: INDEX.HTML ---------- */
.welcome-text {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.login-form {
    width: 75%;
    max-width: 400px;
}

.a-input {
    margin: 5px 0px 5px 0px;
}

.a-btn {
    cursor: pointer;
}

/* Form errors */
.error {
    width: 75%;
    max-width: 400px; 
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: white;
    border-radius: .25rem;
}


/* ---------- Create Admin: REGISTER.HTML ---------- */
.admin-title {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.register-form {
    width: 75%;
    max-width: 400px;
}